@media only screen and (max-width: 576px) {
  div.screenRender {
    height: 180px !important;
  }
  .loginSubmitBtn {
    margin-left: 20%;
  }
}
@media only screen and (min-width: 576px) {
  div.screenRender {
    height: 180px !important;
  }
  .right {
    position: relative;
    right: -24px;
  }
  .left {
    position: relative;
    left: 0px;
  }
  .center {
    margin-left: 20%;
  }
  .submitBtn {
    margin-left: 40%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 720px) {
  div.screenRender {
    height: 240px !important;
  }
  .right {
    position: relative;
    right: -24px;
  }
  .left {
    position: relative;
    left: 0px;
  }
  .center {
    margin-left: 20%;
  }
  .submitBtn {
    margin-left: 40%;
  }
}
@media only screen and (min-width: 720px) {
  div.screenRender {
    height: 240px !important;
  }
}
@media only screen and (min-width: 960px) {
  div.screenRender {
    height: 320px !important;
  }
  .right {
    position: relative;
    right: -24px;
  }
  .left {
    position: relative;
    left: 0px;
  }
  .center {
    margin-left: 20%;
  }
  .submitBtn {
    margin-left: 40%;
  }
}
@media only screen and (min-width: 1140px) {
  div.screenRender {
    height: 380px !important;
  }
  .right {
    position: relative;
    right: -24px;
  }
  .left {
    position: relative;
    left: 0px;
  }
  .center {
    margin-left: 20%;
  }
  .submitBtn {
    margin-left: 40%;
  }
}
img.connectLogo {
  max-height: 100px !important ;
  max-width: 50px !important;
}
div.loginFormDivWrapper {
  background-color: rgb(216, 255, 177);
}
.loginDiv {
  max-width: 400px !important;
  min-width: 400px !important;
}
